{% extends 'AppleDiasporaBundle::layout.html.twig' %}
{% block content %}
<p class="lead">Okay, I'll text you.</p>
<br />
<hr />
<p class="muted"><a href="{{ path('apple_diaspora_homepage') }}">Send another one</a> or reply back with "remind me to pick up the dog later today."</p>
{% endblock %}
